* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-image: url("./img/bg.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    font-family: poppins;
    background-color: white;
}

.sidenav {
    height: 100%;
    width: 250px;
    position: absolute;
    background-color: #002145;
    padding-top: 130px;
    transition: 0.3s;
}

.sidenav a {
    padding: 70px 50px;
    text-decoration: none;
    font-size: 30px;
    color: white;    
    display: block;
    text-align: center;
}

.sidenav a:hover {
    background-color: #ff0000;
}

.sidenav img {
    height: 150px;
    margin-left: 50px;
    margin-right: auto;

}

.body-container {
    height: 100%;
}

