body {
    font-family: poppins;
}
.container {
    max-width: 600px;
    margin: 0 auto;
}
h1 {
    text-align: center;
}
form {
    border: 1px solid #ccc;
    padding: 20px;
    border-radius: 5px;
}
label {
    display: block;
    font-weight: bold;
}
input[type="text"], select {
    width: 100%;
    padding: 10px;
    margin: 5px 0;
    border: 1px solid #ccc;
    border-radius: 3px;
}
button {
    background-color: #002145;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}
button:hover {
    background-color: #0056b3;
}
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}
table, th, td {
    border: 1px solid #ccc;
}
th, td {
    padding: 8px;
    text-align: left;
}
th {
    background-color: #f2f2f2;
}